// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #114B5F
$secondary = #028090
$toggle    = #2196F3
$accent    = #114B5F
$header    = #114B5F
$bginput   = #FFFFFF
$button    = #F43F4E
$darkError = #F48F9F

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

.bg-input {
  background: $bginput;
}
.bg-toggle {
  background: $toggle;
  color: $toggle;
}
.bg-header {
  background: $header;
}
.bg-button {
  background: $button;
  cursor: pointer;
}
.bg-header-female {
  background: $darkError;
}
.bg-header-male {
  background: $toggle;
}

h5 {
    display: block;
    font-size: 1.53em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

